main {
  flex-direction: column;
}
header {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}
h1 {
  cursor: pointer;
}
input[name="searchBar"] {
  padding: 10px;
  width: 250px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

.header-right {
  width: 35%;
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
